Source: verify-bam-id20120620
Section: science
Priority: optional
Build-Depends: debhelper (>= 7)
Maintainer: TGI <genome-dev@genome.wustl.edu>
Homepage: http://www.sph.umich.edu/csg/kang/verifyBamID

Package: verify-bam-id20120620
Architecture: amd64
Depends:
Description: verifyBamID is a software that verifies whether the reads in particular file match previously known genotypes for an individual (or group of individuals), and checks whether the reads are contaminated as a mixture of two samples. verifyBamID can detect sample contamination and swaps when external genotypes are available. When external genotypes are not available, verifyBamID still robustly detects sample swaps.
